.description-page {
    background-color: #01070E;
    height: 130vh;
    padding-top: 1em;
}

.description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15em 0 15em;
}

.description-container p {
    color: white;
    font-size: 1.25em;
}

.description-container ul li{
    padding-bottom: 15px;
    margin-bottom: 15px;
    color: white;
    font-size: 1.25em;
}

.description-h1{
    text-align: center;
    color: white;
    font-size: 3.5em;
}

.description-container h2{
    text-align: center;
    color: #C3FFFF;
    font-size: 1.75em;
}


.martinSquare {
    background-image: url("../../../public/images/me.png");
    background-size: cover;
    border-radius: 15px;
    min-height: 47vh;
    width: 31%;
    height: auto;
}


