.Intro-container {
    /* background-color: #adb5bd; */
    background-color: #0e141b;
    text-align: center;
    padding-top: 12em;
    padding-bottom: 14em;
}

.Intro-container h1 {
    font-size: 5.5em;
    color: white;
}

#intro {
    color: #C3FFFF;
    font-size: 2.5em;
}

.Intro-container p {
    font-size: 1.5em;
    color: #949CA4;
    margin-bottom: 1.75em;
}

.intro-btn {
    border: 2px solid #C3FFFF;
    border-radius: 10px;
    background-color: #0e141b;
    padding: 12px 20px;
    font-size: 1.25em;
    cursor: pointer;
}

.contact-btn {
    border-color: #C3FFFF;
    color: #C3FFFF;
}

.contact-btn:hover {
    background-color: #C3FFFF;
    color: #0e141b;
}